h1{
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  body{
      font-family: Arial, sans-serif;
      background-color: gainsboro;
  }
  
  h2{
    font-family: Arial, sans-serif;
    color: rebeccapurple;
    text-align: center;
  }
  
  thead{
      font-family: Arial, sans-serif;
      background-color: plum;
  }
  
  tbody{
        font-family: Arial, sans-serif;
  }
  
  table {
      border: 2px solid darkorchid;
      width: 650px;
      margin: 0 auto;
  }
  
  td {
      border-top: 1px solid darkorchid;
  }